
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <br />
    <p> @Html.ActionLink("Account management", "Index", null, new { @class = "btn btn-default" })</p>
    <p> @Html.ActionLink("Roles management ", "Index", "Roles", routeValues: null, htmlAttributes: new { @class = "btn btn-default" ,title = "Index" })</p>
</body>
</html>
