@model Diabetes1.Models.UserProfileInfo
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Diabetes1.Models;
@{
    ViewBag.Title = "DisplayProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

<h2>Add Medecine</h2>

<div>
   

    @using Microsoft.AspNet.Identity;
    @using Microsoft.AspNet.Identity.EntityFramework;
    @using Diabetes1.Models;
    <div class="dl-horizontal">     
        
         <dt>Medicine:</dt>
        <dd>       
                <p>
                    <form action="/Account/AddMedicine" method="post">
                        <input name="name" />
                        <input type="submit" />
                    </form>
                </p>
        </dd>
        <h1>Medicine</h1>
        <div>
            <table>
                <tr><th>Name</th><th>Delete</th></tr>
                @{
                    List<Medicine> uMedicine = (List<Medicine>)ViewData["Medicines"];
                }
                @foreach (var urm in uMedicine)
                {
                    var dm= db.Medicines.Find(urm.Id);
                    <tr>
                        <td>@dm.MedicineName</td>
                        <td>
                            <form action="/Account/DeleteMedicine/" method="post">
                                <input type="hidden" name="id" value="@dm.Id" />
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
   
    </div>
    
    <div><p> @Html.ActionLink("<<back to user info", "Index", "Manage", null, new { @class = "btn btn-info " })</p></div>
</div>