@{
    ViewBag.Title = "Home Page";
}
<header></header>

<body class="container">

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">

        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <br>
            <div class="col-xs-12 col-md-12"><center><img src="~/img/ไม่ได้ตั้งชื่อ.jpg" class="img-responsive" alt="Responsive image" height="700" width="700"></center></div>
         
        </div>

        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
     
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-xs-6">
                            @*<div class="thumbnail">*@

                                <img src="~/img/diabetes-destroyer2.jpg"  height="300" width="500">
                                @*<div class="caption">
                                    @*<center><h3>Diabetes</h3></center>*@
                                    @*<p>Diabetes is a disease in which your blood glucose, or blood sugar, levels are too high. 
                                    Glucose comes from the foods you eat. Insulin is a hormone that helps the glucose get into your cells to give them energy.
                                     With type 1 diabetes, your body does not make insulin. With type 2 diabetes, the more common type,
                                     your body does not make or use insulin well. Without enough insulin, the glucose stays in your blood. 
                                    You can also have prediabetes. This means that your blood sugar is higher than normal but not high enough to be called diabetes. H
                                    aving prediabetes puts you at a higher risk of getting type 2 diabetes.</p>*@                               
                                @*</div>
                            </div>*@
                        </div>

                        <div class="col-xs-6">
                            @*<div class="thumbnail">*@

                                <img src="~/img/default_20140718222535.png"  height="300" width="500" >
                                @*<div class="caption">*@
                                    @*<center><h3>Glycemic Index</h3></center>*@
                                    @*<p>The Glycemic Index is a numerical Index that ranks carbohydrates based on their rate of glycemic response 
                                    (i.e. their conversion to glucose within the human body). 
                                    Glycemic Index uses a scale of 0 to 100, with higher values given to foods that cause the most rapid rise in blood sugar. 
                                    Pure glucose serves as a reference point, and is given a Glycemic Index (GI) of 100.</p>*@
                                @*</div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6"></div>
        </div>

        @*<div class="col-xs-6 col-md-4"> </div>
        
            @*<div class="col-xs-6 col-md-4">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <a href="Account/Login" button type="button" class="btn btn-primary btn-lg btn-block"><h3>USER LOGIN</h3> </a>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block"><h3>NUTRITIONISTS LOGIN</h3></button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

</div>*@
        </div>
        @*<div class="col-xs-6 col-md-4"> </div>*@
    

    <!-- Columns are always 50% wide, on mobile and desktop -->
   
    </body>