@{
    ViewBag.Title = "Home Page";
}
<header></header>

<body class="container">

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-xs-6 col-md-4"> </div>
        
            @*<div class="col-xs-6 col-md-4">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <a href="Account/Login" button type="button" class="btn btn-primary btn-lg btn-block"><h3>USER LOGIN</h3> </a>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block"><h3>NUTRITIONISTS LOGIN</h3></button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

</div>*@
        </div>
        <div class="col-xs-6 col-md-4"> </div>
    

    <!-- Columns are always 50% wide, on mobile and desktop -->
   
    </body>